.container {
  display: flex;
  flex-direction: column;
  padding: 0 16px;
}

.row {
  display: flex;
  align-items: flex-start;
  overflow-x: scroll;
  width: 100%;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.list {
  display: flex;
  flex-direction: column;
  flex: 0 0 300px;
  margin: 16px;
  padding: 8px;
  position: relative;
  border-radius: 3px;
  background-color: #ebecf0;
}
