.root {
  margin-bottom: 8px;
  transition: all .4s;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .btn {
    padding: 0;
    text-transform: uppercase;
  }
}
